*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
}

p,
span,
a {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

body {
  padding: 3rem 1.5rem;
}

.card__container {
  padding: 2.5rem 3rem;
}
.card__container-sedans-card {
  background-color: #e38826;
  border-radius: 10px 10px 0 0;
}
.card__container-suvs-card {
  background-color: #006970;
}
.card__container-luxury-card {
  background-color: #004241;
  border-radius: 0 0 10px 10px;
}

.card__icon {
  width: 20%;
}

.card__heading {
  color: #f2f2f2;
  font-size: 2em;
  text-transform: uppercase;
  padding: 1rem 0 0 0;
}

.card__copy {
  color: rgba(255, 255, 255, 0.75);
  padding: 1rem 0 1.4rem 0;
  font-size: 15px;
}

.card__btn {
  display: block;
  width: fit-content;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  padding: 0.6rem 1.8rem;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.025), 0 2px 2px rgba(0, 0, 0, 0.05);
}
.card__btn-sedans {
  color: #e38826;
}
.card__btn-suvs {
  color: #006970;
}
.card__btn-luxury {
  color: #004241;
}
.card__btn:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (min-width: 850px) {
  html,
body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page__container {
    display: flex;
    min-width: 800px;
    max-width: 65%;
  }

  .card__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3.5rem 3rem;
  }
  .card__container-sedans-card {
    border-radius: 10px 0 0 10px;
  }
  .card__container-luxury-card {
    border-radius: 0 10px 10px 0;
  }

  .card__icon {
    width: 30%;
  }

  .card__heading {
    padding: 1.5rem 0 0 0;
    font-size: 2.5em;
  }

  .card__copy {
    padding: 1rem 0 5rem 0;
  }

  .card__btn {
    margin-top: auto;
  }
}
